@{
    ViewBag.Title = "About us";
}
@*<h2>@ViewBag.Title.</h2>
    <h3>@ViewBag.msg</h3>
      <p>Tulsi foundation, India is a non profit community service organization.</p> *@




<div class="glyphicon-adjust">
    <h1> History</h1>
</div>

<br />


<div>
    <div>
        <img src="~/ImageLogo/DevBhumi2.jpg" style="width:400px; height:300px" align="left" />
    </div>

    <div class="aboutus-content">
        <p>
            Uttarakhand is known as “Dev Bhumi”- The land of Gods, Yoga capital of the world,
            Home of the holy rivers, The Himalayan abode and we are fortunate enough to call it our Hometown.
            It is here where the journey, that has touched thousands of lives, began!
            This journey commenced in 1995 when Taradatt Phuloria, a visionary and our President,
            decided to contribute small donations to a school in Uttarakhand. Due to the inability of parents
            to pay the fees of their children and insufficient fund, the school management thought to shut down
            the school in the year 2014. At the same time, the Principal along with some of the parents & other
            management people requested Mr. Phuloria to save the school and allow the students to continue their
            education at bare minimum fees. This is what gave birth to the idea of running the school under
            the umbrella of Tulsi Foundation.
        </p>
    </div>
</div>

<br />
<br />

<div>
    <div class="glyphicon-adjust">
        <h1> Who We Are</h1>
    </div>

    <div class="aboutus-content">
        <p>
            We at Tulsi Foundation believe in the Power of One.
            Founded on 5th August, 2011, Tulsi Foundation is non-profit charitable trust based in Mumbai and Uttarakhand. The main focal areas for the organisation are – Education, Health, Culture and Sports.
            We believe that the freedom to dream, willingness to achieve, and ability to implement empowers a person to transform themselves and the nation. By providing knowledge, holistic development, and cultural awareness to an individual, we are providing them the resources to make an impact.
            We are a team of multi-faceted individuals, striving to bring about a change in our society for a better tomorrow.
        </p>
    </div>
</div>


<div>
    <div class="glyphicon-adjust">
        <h1> Key Management Team </h1>
    </div>

    <div class="aboutus-content">
        <p>
            It is said that no matter what you do or where you go, your family will always have your back.
            Our board members are not only our family, but they bring with them experience and expertise from
            diverse backgrounds which impart a multi-dimensional approach to all of our initiatives.
        </p>
    </div>
</div>


<div class="glyphicon-adjust">
    <h2> Chandrashekhar Phuloria – Founder </h2>
</div>


<div>
    <div>
        <img src="~/ImageLogo/Chandu.jpg" style="width:200px; height:150px" align="left" class="container"/>
    </div>

    <div class="aboutus-content">
        <p>
            “It is challenging to initiate noble work, but the individual who envisions a tree in only a
            seed can take on this journey.”
            Mr. Chandrashekhar Phuloria was born and educated in a small village of Uttarakhand until 12th
            standard and later moved to Mumbai for further studies. He has an in-depth exposure to people in
            all walks of life and has vast experience in social work. He is held to a high-esteem by his family,
            friends and colleagues for his graciousness and compassion.
            Though he left his village, the culture and education system of rural India had made a lasting
            impression on him. His experiences motivated him to create Tulsi Foundation in 2011, as a way to
            contribute back to society. He is a firm believer in “Soch Badlo, Desh Badlega” which then became the
            motto of Tulsi Foundation.
        </p>
    </div>
</div>



<div class="glyphicon-adjust">
    <h2>Taradutt Phuloria - President </h2>
</div>


<div>
    <div>
        <img src="~/ImageLogo/TD Phuloria.jpg" style="width:200px; height:150px" align="left" class="container"/>
    </div>

    <div class="aboutus-content">
        <p>
            A true inspiration to all of us, Mr. Taradutt Phuloria’s life has always been dedicated to the
            upliftment of the society. Born and raised in a small village of Uttarakhand, he understood the
            importance and power of education at an early age. In 1952, he migrated to Mumbai for better
            opportunities. He has been involved in helping various organisations and individuals through his
            social work – a guardian and a leader all his life.
            He strongly believes that any individual can make an exponential impact through changes, no matter
            the size. He has been the guiding light which uplifts this organisation.
        </p>
    </div>
</div>

<br />


<div class="glyphicon-adjust">
    <h2>K.B. Sharma – Secretary </h2>
</div>


<div>
    <div>
        <img src="~/ImageLogo/KB Sharma.jpg" style="width:200px; height:150px" align="left" class="container" />
    </div>

    <div class="aboutus-content">
        <p>
            With experience comes knowledge, with knowledge comes the ability to create change. Mr. K.B. Sharma
            envisions a society enabled to reach its glorious potential through educated and skilled individuals.
            He has mastered the art of communication and brings people together for worthy causes. His invaluable
            perspective and conscientious nature have been pivotal in making a better tomorrow for our society.
        </p>
    </div>
</div>

<br />


<div class="glyphicon-adjust">
    <h2>Naresh Sharma – Treasurer </h2>
</div>


<div>
    <div>
        <img src="~/ImageLogo/Naresh.jpg" style="width:200px; height:150px" align="left" class="container" />
    </div>
    <div class="aboutus-content">
        <p>
            A trusted advisor and visionary who firmly believes that together we can and will create change.
            Finances are an integral part to running an organization. Mr. Naresh Sharma has 35 years of experience
            in dealing with finances which includes 15 years of corporate and 20 years of entrepreneurship.
            His knowledge has assisted Tulsi Foundation in optimizing its resources, to ensure maximum benefit for the
            community.
        </p>
    </div>
</div>




