@{
    ViewBag.Title = "Contact us";
}
<h2>@ViewBag.Title.</h2>

<address>
    A4 Himalaya housing society<br />
    Ghatkopar, Mumbai 400 084<br />
    <abbr title="Phone">P:</abbr>
    999.555.0100
</address>

<address>
    <strong>Founder:</strong>   <a href="mailto:sharmasu17@yahoo.com">Support@example.com</a><br />
    <strong>Secretary:</strong> <a href="mailto:sharmasu17@yahoo.com">Marketing@example.com</a>
</address>

<h3>@ViewBag.Message</h3>
<form method="post">
    <textarea name="message"></textarea>
    <input type="submit" value="send" />
</form>