@{
    ViewBag.Title = "Home Page";

   // if ( Session ["UserID"] == null)
   // {
   //     Response.Redirect("~/User/Index");
   // }
}

<div class="jumbotron">
    <h1>Tulsi Phuloria Foundation</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <p>Member Donation: Add, Change, Delete Members</p>
        <p>Member Dashboard</p>
        @if (Session ["UserID"] != null)
        {
           <h3>UserName : @(Session["UserName"]).ToString()</h3>
        }
  

        <a href="@Url.Action("LogOut", "User")">Logout </a>

    </div>


 </div>
