@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tulsi Phuloria Foundation</h1>
</div>

<div class="row">
    <div class="col-md-4">
        <p>Member Donation: Add, Change, Delete Members</p>
       @* <h2>@Html.ActionLink("Donation","Index","MemberTabs") </h2> *@
    </div>


 </div>
