@{
    ViewBag.Title = "OUR INITIATIVES";
}

<div>
    <h1>@ViewBag.Title</h1>
</div>


<div class="glyphicon-adjust">
    <h2>Education </h2>
</div>

<div>
    <div>
        <div>
            <img src="~/ImageLogo/School1.jpg" style="width:500px; height:300px" align="left" class="container" />
        </div>
    </div>

    <div class="aboutus-content">
        <ul type="disc">
            <li>
                We are running a school at Dhamdewal, Tahsil-  Chaukhutia, District-  Almora, Uttarakhand with
                the name TULSI PUBLIC SCHOOL – a school which is for the children of common people in true sense.
                This is a Hindi Medium School from Jr. KG to 8th standard.  Altogether 80 students are there in the
                school.
            </li>

            <li>
                Our Hon’rable Prime Minister Shri Narendra Modi has given a task to nation that –
                “Beti Bacho- Beti Padhao” . We are working on the appeal & giving the education to more than 60 % girl
                child.
            </li>

            <li>
                In our school there are underprivilege children getting education. We are giving education to
                the ward of such parents  who wants to give good education to their children in very nominal fees.
            </li>

            <li>
                Our plan is to give education to 300 children in next three years. We works on human behavior &
                providing the education according to future demand. We inculcate the human values in every child.
            </li>

            <li>
                We want to be associated with the roots,  therefore we promote the local Kumauni language &
                sports as well.

            <li>
                We provide training to our teachers to sharpen their skills. We have given motivational training
                the teachers of other schools also. We work on the thinking process of the parents so that the child get
                the maximum benefit of the education. We  believe in “ Padhega India, Tabhi Badhega India”.
            </li>
        </ul>
    </div>

</div>
<br />


<div>
    <div class="glyphicon-adjust">
        <h2>Health </h2>
    </div>

    <div class="aboutus-content">
        <ul>
            <li>
                The Tulsi foundation is also working on the Health Sector, we organize  health camps &
                seminars to create awareness as preventive measures for health life.
            </li>
        </ul>
    </div>
</div>


<br />


<div>
    <div class="glyphicon-adjust">
        <h2>Culture </h2>
    </div>

    <div class="aboutus-content">
        <ul>
            <li>
                Culture reflects the life system  of human being. Therefore, it is necessary to organize cultural
                activities from time to time. We have organized seminars on  women empowerment . We have also organizes
                the monsoon picnic for them.  Holi is the festival of colors  that resolves the differences and enhances
                the spirit of humanity and brotherhood. We have organized Holi festival in Mumbai and in Uttarakhand as well.
            </li>
        </ul>
    </div>
</div>
