
@{
    ViewBag.Title = "Member Activities";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@if (Session["UserID"] != null)
{
    <h3>Welcome : @(Session["UserName"])</h3>
}

@Html.DropDownList("Memberdata", null, new { onchange = "checkselected()" })


<script src="~/Scripts/jquery-3.4.1.min.js"></script>

<script>
  

    function checkselected() {

        if ($('#Memberdata').val() == '1') {
            document.location.href = '/Home/MemActivities';
        }

        if ($('#Memberdata').val() == '2') {
            document.location.href = '/Members/Index';
        }

        if ($('#Memberdata').val() == '3') {
            document.location.href = '/DonationTabs/Index';
        }

        if ($('#Memberdata').val() == '4') {
            document.location.href = '/ImageTabs/AddImage';
        }

        if ($('#Memberdata').val() == '5') {
            document.location.href = '/ImageTabs/Index';
        }

        if ($('#Memberdata').val() == '6') {
            document.location.href = '/MemberList/Listing';
        }

        if ($('#Memberdata').val() == '7') {
            document.location.href = '/MemberList/MemberProfile';
        }

        if ($('#Memberdata').val() == '9') {
            document.location.href = '/User/LogOut';
        }

    }
</script>