
@{
    ViewBag.Title = "Member Listing";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Member Data</h2>

@Html.DropDownList("Memberdata", null, new { onchange = "checkselected()" })

<script src="~/Scripts/jquery-3.4.1.min.js"></script>


<script>

    function checkselected()
    {

        if ($('#Memberdata').val() == '1') {
            document.location.href = '/Home/MemListing';
        }

        if ($('#Memberdata').val() == '2')   {
            document.location.href = '/MemberList/Listing';
        }

        if ($('#Memberdata').val() == '9')  {
            document.location.href = '/User/LogOut';
        }


    }
</script>